body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  color: #334AA7;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  color: #8BBE63;
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

#content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#submit-header {
  padding-top: 80px;
  background-color: #F2F6F8;
  height: 300px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px #F2F4F5 solid;
}

#submit-instr {
  margin-top: 20px;
}

#submit-box {

}

#fish-text-area {
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  display: block;
}

#fish-text-button-wrapper {
  width: 100%;
  text-align: center;
}

#fish-text-button {
  margin: 10px;
  border-radius: 3px;
  background-color: #3FABB9;
}